# Node & package manager
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/
web-build/
dist/
build/

# Editor & OS
.vscode/
.DS_Store
*.log

# Environment files
.env
.env.*.local

# Misc
coverage/
ios/
android/
*.keystore
*.p12
